
<header>
    <h1>{{title}}</h1>
    <a href="/">Home</a>
    <a href="/absentDays">Absentdays</a>
    <a href="/absentDetails">Absentdetails</a>
    <a href="/leaveBalance">leaveBalance</a>
    <a href="/holidayCalander">holidayCalander</a>

</header>